body {
  background-color: black;
  color: white;
}

p#number {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 25vh;
  margin-top: 0;
  font-size: 4vw;
}

p#totaltime {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 5vh;
  margin-top: 10px;
  font-size: 3vw;
  color: rgb(115, 115, 115);
}

p#note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1vh;
  margin-top: 0;
  font-size: 2vw;
  color: rgb(80, 80, 80);
}

table {
  border-spacing: 0.5rem;
}

td {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid white;
  text-align: center;
  height: 9rem;
  width: 12rem;
}