body {
  background-color: black;
  color: white;
}

p#number {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 10vh;
  margin-top: 0;
  font-size: 4vw;
}

p#totaltime {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 5vh;
  margin-top: 0;
  font-size: 3vw;
  color: rgb(115, 115, 115);
}

p#note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1vh;
  margin-top: 0;
  font-size: 2vw;
  color: rgb(80, 80, 80);
}