body {
  background-color: black;
  color: white;
}

p#number {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 25vh;
  margin-top: 0;
  font-size: 4vw;
}

p#totaltime {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 5vh;
  margin-top: 10px;
  font-size: 3vw;
  color: rgb(115, 115, 115);
}

p#note {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1vh;
  margin-top: 0;
  font-size: 2vw;
  color: rgb(80, 80, 80);
}

p#timedisplay {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 1vh;
  margin-top: 0;
  font-size: 2vw;
}

p#timeupdisplay {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 1vh;
  margin-top: 0;
  font-size: 2vw;
  color: rgb(150, 150, 150)
}

p#stagedisplay {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  line-height: 1vh;
  margin-top: 0;
  font-size: 3.5vw;
  color: rgb(255, 255, 255)
}

table {
  border-spacing: 0.5rem;
}

td#skip {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  text-align: center;
  height: 6rem;
  width: 9rem;
}

td#goback {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid rgb(255, 125, 0);
  color: rgb(255, 125, 0);
  text-align: center;
  height: 6rem;
  width: 9rem;
}

td#speedup {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid rgb(255, 255, 0);
  color: rgb(255, 255, 0);
  text-align: center;
  height: 6rem;
  width: 9rem;
}

td#slowdown {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid rgb(0, 255, 0);
  color: rgb(0, 255, 0);
  text-align: center;
  height: 6rem;
  width: 9rem;
}

td#other {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  border: 0.25rem solid rgb(0, 255, 255);
  color: rgb(0, 255, 255);
  text-align: center;
  height: 6rem;
  width: 9rem;
}